@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Prompt&display=swap');
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}
/* font-family: 'Lobster', cursive; */
/* font-family: 'Prompt', sans-serif; */
#softmeals_text_one{
    font-family: 'Lobster', cursive; 
     font-size: 30px;   
}
.softmeals_text{
    font-family: 'Lobster', cursive; 
    color: #000;
}
.navbar-brand{
    color: #fff;
}
.welcome_text{
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
}
#describe_softmeals{
   letter-spacing: 4px;
}
 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	/* justify-content: flex-end; */
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.our_special_coffee_text{
    margin-bottom: 2rem;
}
p{
    margin: 0;
} 
body{
	overflow-x: hidden;
}

nav {
    background-color: #b5651d;
   
}

ul li a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	text-align: center;

	padding: 5px;
}
#home{
    color: #fff;
}
.navbar .nav-item a.nav-link{
	color: #fff;color: #fff;
    width: 150px;
    font-size:  25px;
    padding-bottom: 3rem;
}

.mobile-nav select{
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 4px;
	background: #eee;
	font-size: 1.5em;
	padding: 5px;
}


video{
    min-width: 100%;
    min-height: 100%;
    /* width: auto; */
    /* height: auto; */
    max-width: 400px;
    max-height: 1300px;
    /* background: url('./images/bg2.jpg')no-repeat; */
    background-size: cover;
}
/* .video_div{
    height: 700px;
} */
.section-navbar{
    position: absolute;
    margin-top: 7rem;
  
}
.button-coffee{
    display: block;
    background-color: #b5651d;
    color: #fff;
}
.sn{
    width: 100%;
    padding-left: 5rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
    /* margin-left: 12rem; */
}
 h1{
    color:  #b5651d;
    font-weight:900; 
 }
 .newletter_txt{
     color: #fff;
 }
 
.our_values_div{
    color: #fff;
    padding-bottom: 4rem;
    background-color:   #b5651d;
}
.newletter{
	background-image: url("../images/c5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	min-height: 330px;

}
.about_us_bg_first{
    background-image: url("../images/c14.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
	min-height: 330px; 
}
.about_us_bg{
    background-image: url("../images/c1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
	min-height: 330px;
}
.newletter_form{
    padding-top: 8rem;
}
.footer_section{
    padding-top: .5rem;
    font-size: 20px;
    background-color:   #b5651d;
    color: #fff;
}
.about_us_text{
    font-size: 28px;
    /* line-height: 40px; */
    letter-spacing: .1px;
}
.collection{
	background-image: url("../images/c5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
	padding: 13% 6%;
	color: #eee;
}
.client-info{
    color:  #b5651d;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;

}

.client-info-two{
    font-size: 23px!important; 
}
.testimonals{
    margin-bottom: 2rem;
    margin-top: 2rem;
}